:root {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --input-bg: #2a2a2a;
    --input-border: #3a3a3a;
    --button-bg: #4a4a4a;
    --button-hover: #5a5a5a;
    --result-bg: #2a2a2a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-column {
    flex: 1;
    margin-right: 20px;
}

.movie-info {
    flex: 1;
    text-align: center;
}

.movie-info img {
    width:40%;
    height: auto;
    object-fit: contain;
}

.rating-input {
    margin: 10px 0;
    font-size: 24px;
}

.star {
    cursor: pointer;
    color: gray;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie-item {
    flex: 1 1 18%;
    /* Each movie gets equal width, 5 movies per row */
    max-width: 18%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    height: auto;
}

.movie-item p {
    word-wrap: break-word;
    white-space: pre-wrap;
    /* Ensures long titles wrap onto the next line */
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
}

button {
    cursor: pointer;
    background-color: var(--button-bg);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100px;
    /* You can adjust this value */
    overflow-y: auto;
    /* Allows the list to scroll if it's too long */
}

.suggestions-list li {
    cursor: pointer;
    padding: 5px;
    background: #000000;
    margin: 2px 0;
}

.suggestions-list li:hover {
    background: #3dd9ee;
}